<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
</head>

<body>

    <form action="/editData" method="post">

        <input type="text" value="<%= editdata.id %>" readonly>

        <input type="hidden" name="id" value="<%= editdata.id %>">

        <input type="text" name="name" value="<%= editdata.name %>" placeholder="Enter new name">

        <input type="submit" value="Update">
    </form>

</body>

</html>
